.login-container{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 150px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.input-group{
    margin-bottom: 15px;
}
.input-group label{
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
    display: block;
}
.input-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: #fff;
}
.register-link{
    margin:20px 0;
    text-align: center;
}