.register-container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.register-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  display: block;
  color: #666;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.input-group input:focus,
.input-group select:focus {
  border-color: rgb(33, 33, 238);
  outline: none;
}
.register-btn{
    width: 100%;
    padding: 12px;
    background-color: rgb(67, 67, 243);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.register-btn:hover{
    background-color:rgb(21, 21, 244) ;
}
.login-link{
    text-align: center;
    margin-top: 20px;
}
.login-link a{
    color: blue;
    font-size: 14px;
}
.login-link a:hover{
    text-decoration: underline;
}